#results {
    display: contents;
}

.spacer {
    font-size: x-large;
    font-weight: bold;
    grid-column: 1 / -1;
    text-align: center;
}

#labels {
    display: grid;
}

.value {
    display: grid;
    grid-template-areas:
      "n"
      "h"
      "v";
}

label {
    font-weight: bold;
    grid-area: n;
}

aside {
    grid-area: h;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
}
input {
    grid-area: v;
}

input[type=checkbox] {
    display: none;
}
input:checked ~ aside {
    max-height: 100vh;
    transition: max-height 1s;
}

svg {
    width: 96vw;
    height: 72vw;

    max-height: 100vh;
    max-width: 133.3vh;
}

@media(min-width: 500px) {
    .value {
	display: contents;
    }

    #labels {
	display: grid;
	grid-template-columns: 1fr 1fr;
    }

    input {
	grid-area: auto;
    }
    label {
	grid-area: auto;
    }
    aside {
	grid-column: span 2;
	grid-row: span 1;
	max-height: inherit;
    }
}

@media(min-width: 800px) {
    #labels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(min-width: 1280px) {
    svg {
	width: 48vw;
	height: 36vw;
    }
    #labels {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
    }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
