body {
    font-size: min(3vh, 3vw);
}

.spacer {
    font-size: min(6vh, 6vw);
    font-weight: bold;
    grid-column: 1 / -1;
    text-align: center;
}

#labels {
    display: grid;
    grid-template-columns: 1fr;
}

label {
    font-weight: bold;
}

label:after {
    position: absolute;
    right: 1em;
    content: "+";
    transition: 900ms ease all
}

#results > label:after {
    display: none;
}

aside {
    overflow: hidden;
    max-height: 0;
    transition: 900ms ease all
}
input {
    transition: 300ms ease all
}
input:invalid {
    background-color: red;
    transition: 300ms ease all
}

input[type=checkbox] {
    display: none;
}
input:checked ~ aside {
    max-height: 7.5em;
    transition: 900ms ease all;
}
input:checked ~ label:after {
    transform: rotate(45deg);
    transition: 900ms ease all
}

svg {
    width: 96vw;
    height: 72vw;

    max-height: 100vh;
}

@media(min-width: 500px) {
    #labels {
	display: grid;
	grid-template-columns: 1fr 1fr;
    }

    input {
	grid-area: auto;
    }
    label {
	grid-area: auto;
    }
    label:after {
	display: none;
    }
    aside {
	grid-column: span 2;
	grid-row: span 1;
	max-height: inherit;
    }
}

@media(min-width: 800px) {
    #labels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(min-width: 1280px) {
    #labels {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
    }
}

@media(min-aspect-ratio: 3/2) {
    svg {
	width: 48vw;
	height: 98vh;
    }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
