#results {
    display: contents;
}

.spacer {
    font-size: x-large;
    font-weight: bold;
    grid-column: 1 / -1;
    text-align: center;
}

#labels {
    display: grid;
}

.value {
    display: contents;
}

label {
    font-weight: bold;
}

svg {
    width: 100vw;
    height: 75vw;
}

@media(min-width: 500px) {
    #labels {
	display: grid;
	grid-template-columns: 1fr 1fr;
    }

    aside {
	grid-column: span 2;
    }
}

@media(min-width: 800px) {
    #labels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(min-width: 1280px) {
    svg {
	width: 48vw;
	height: 36vw;
    }
    #labels {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
    }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
